/* Тело страницы */
body {
    font-size: .875rem;
    font-family: sans-serif;
    margin: 10px;
}

/* Вертикальная полоса */
.items-st:before {
    content: '';
    height: 100%;
    background-color: #e1e1e1;
    width: 3px;
    position: absolute;
    left: 0px;
    top: 29px;
}

/* У последнего элемента нет продолжения полосы */
.items-st:last-child:before {
    content: none;
}

/* Отметка на полосе  */
.items-st:after {
    content: '';
    width: 9px;
    height: 9px;
    background: white;
    border: 3px solid #e1e1e1;
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: 16px;
}

/* Первая отметка на полосе */
.items-st:first-child:after {
    top: 23px;
    left: -9px;
    border: 6px solid #2396f1;
    box-shadow: 0px 0px 0px 3px #e1e1e1;
}

/* Обёртка информационного блока */
.items-st {
    position: relative;
    padding-bottom: 15px;
    padding-left: 37px;
    margin-left: 15px;
    color: #8a8a8a;
}

/* Обёртка первого информационного блока */
.items-st:first-child {
    padding-left: 25px;
    color: #000;
    font-weight: bold;
}

/* Информационный блок */
.items-status {
    display: flex;
    flex-flow: column;
}

/* Первый информационный блок */
.items-st:first-child .items-status {
    background: #f3f5fb;
    padding: 10px 10px 9px 12px;
    border-radius: 7px;
}

/* Элемент с датой будет первым */
.status_date {
    font-size: .8rem;
    order: -1;
}
